*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width: 1023px){
.header{
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    background-color: #202933;
    align-items: center;
    border-bottom: 1px solid #3e5268;
}
.header img{
    width: 30vh;
}
.menu button{
    padding: 10px 20px;
    background-color: #25303d;
    border: 1px solid #3e5268;
    color: #97bbe4;
    border-radius: 5px;
}
.sections{
    width: 0;
    height: 0;
}
.box1{
    font-size: 0;
}
.box1:hover{
    background-color: #3e5268;
}
.nav-head{
    background-color: #1b222c;
    color: #97bbe4;
    padding: 20px;
}
.nav-head-1{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.nav-head button{
    padding: 0 10px;
    background-color: #202933;
    border: 1px solid #3e5268;
    color: #97bbe4;
    border-radius: 5px;
    height: 40px;
}
.icons1 i{
    text-align: center;
    align-content: center;
    background-color: #202933;
    border: 1px solid #3e5268;
    color: #97bbe4;
    border-radius: 5px;
    height: 40px;
    width: 40px;
}
.nav-head-2{
    padding: 10px 0;
}
.nav-head-2 input{
    padding: 0 20px;
    background-color: #202933;
    border: 1px solid #3e5268;
    color: #97bbe4;
    border-radius: 5px;
    height: 40px;
    width: 100%;
}
.nav-premier{
    padding: 5vh 20px;
    background-color: #202933;
    color: #97bbe4;
}
.nav-premier h1{
    font-size: 22px;
    padding-left: 25px;
    border-left: 3px solid #54009e;
    transition: 500ms;
    cursor: pointer;
}
.nav-premier h1:hover{
    color: white;
}
.movie1{
    background-image: url(movie1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 50vh;
    margin: 20px 0;
    text-align: center;
    align-content: center;
}
.movie1 i{
    font-size: 60px;
    cursor: pointer;
}
.movie1 i:hover{
    font-size: 75px;
}
.nav-nav{
    background-color: #1b222c;
    color: #97bbe4;
    padding: 20px;
}
.box2{
    padding: 3px;
    background-color: #202933;
    text-align: center;
    align-content: center;
    margin: 20px 0;
}
.box2 img{
    width: 100%;
    height: 100%;
}
.box2 p{
    padding: 10px 0;
}
.boxes{
    padding: 20px 0;
}
.two{
    display: flex;
    gap: 30px;
}
.tarjima h1{
    font-size: 22px;
    padding-left: 25px;
    border-left: 3px solid #54009e;
    transition: 500ms;
    cursor: pointer;
}
.tarjima h1:hover{
    color: white;
}
.box2{
    transition: 400ms;
}
.box2 img{
    transition: 300ms;
}
.box2 img:hover{
    filter: grayscale(0.3);
}
.box2:hover{
    background-color: #3e5268;
    color: white;
}
.seriallar h1{
    font-size: 22px;
    padding-left: 25px;
    border-left: 3px solid #009e32;
    transition: 500ms;
    cursor: pointer;
}
.seriallar h1:hover{
    color: white;
}
.seriallar h1{
    font-size: 22px;
    padding-left: 25px;
    border-left: 3px solid #9e001a;
    transition: 500ms;
    cursor: pointer;
}
.seriallar h1:hover{
    color: white;
}
.nav-nav-right{
    padding: 5px 0;
}
.icons2{
    display: flex;
    color: white;
    text-align: center;
}
.icons2 i{
    align-content: center;
    width: 100%;
    height: 50px;
    font-size: 25px;
}
.fa-telegram{
    background-color: rgb(0, 60, 255);
    border-radius: 5px 0 0 5px;
}
.fa-youtube{
    background-color: red;
}
.fa-tiktok{
    background-color: black;
}
.fa-instagram{
    background-color: blueviolet;
    border-radius: 0 5px 5px 0;
}
.tasodifiy{
    background-color: #25303d;
    padding: 20px 0;
    border-radius: 5px;
    margin: 20px 0;
}
.tasodifiy h1{
    font-size: 17px;
    padding: 5px 0 5px 25px;
    border-left: 3px solid #001d9e;
    transition: 500ms;
    cursor: pointer;
}
.tasodifiy h1:hover{
    color: white;
}
.box-tasodifiy{
    background-color: #1b222c;
    margin: 20px 0;
    border-radius: 5px;
    width: 42vh;
    height: 54vh;
    padding: 1vh;
    justify-items: center;
}
.box-tasodifiy p{
    padding: 10px;
}
.photo1{
    background-image: url(tasodifiy.jpg);
    background-position: center;
    background-size: cover;
    width: 40vh;
    height: 45vh;
    transition: 400ms;
    border-radius: 5px;
}
.teg{
    background-color: #202933;
    padding: 20px 0;
    border-radius: 5px;
    margin: 20px 0;
}
.teg h1{
    font-size: 17px;
    padding: 5px 0 5px 25px;
    border-left: 3px solid #54009e;
    transition: 500ms;
    cursor: pointer;
}
.teg h1:hover{
    color: white;
}
.tags{
    flex-wrap: wrap;
    padding: 20px 30px;
    display: flex;
}
.tags p{
    margin: 3px;
    padding: 3px 5px;
    background-color: #25303d;
    border-radius: 3px;
    transition: 500ms;
}
.tags p:hover{
    background-color: #54009e;
}
.foot-top{
    text-align: center;
    justify-content: center;
    padding: 30px 20px;
    background-color: #202933;
    align-items: center;
    border-top: 1px solid #3e5268;
    color: #97bbe4;
}
.f1{
    display: flex;
    justify-content: space-between;
}
.f1 p{
    margin: 3px;
    padding: 3px 5px;
    border-radius: 3px;
    transition: 500ms;
    border: 1px solid #3e5268;
    margin: 20px 0;
    font-size: 10px;
}
.f1 p:hover{
    background-color: #3e5268;
}
.foot-bot{
    background-color: #1b222c;
    color: #97bbe4;
    text-align: center;
    padding: 20px 0;
}
}
@media (min-width: 1024px){
.header{
    display: flex;
    padding: 0 20vh;
    justify-content: space-between;
    background-color: #202933;
    align-items: center;
    border-bottom: 1px solid #3e5268;
}
.menu button{
    width: 0;
    height: 0;
    font-size: 0;
    border: none;
}
.sections{
    display: flex;
    color: #97bbe4;
}
.box1{
    padding: 40px 15px;
    transition: 500ms;
    cursor: pointer;
}
.box1:hover{
    background-color: #3e5268;
}
.nav-head{
    background-color: #1b222c;
    color: #97bbe4;
    padding: 20px 20vh;
}
.nav-head-1{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.nav-head button{
    padding: 0 10px;
    background-color: #202933;
    border: 1px solid #3e5268;
    color: #97bbe4;
    border-radius: 5px;
    height: 40px;
}
.icons1 i{
    text-align: center;
    align-content: center;
    background-color: #202933;
    border: 1px solid #3e5268;
    color: #97bbe4;
    border-radius: 5px;
    height: 40px;
    width: 40px;
}
.nav-head-2{
    padding: 10px 0;
}
.nav-head-2 input{
    padding: 0 20px;
    background-color: #202933;
    border: 1px solid #3e5268;
    color: #97bbe4;
    border-radius: 5px;
    height: 40px;
    width: 100%;
}
.nav-premier{
    padding: 5vh 20vh;
    background-color: #202933;
    color: #97bbe4;
}
.nav-premier h1{
    font-size: 22px;
    padding-left: 25px;
    border-left: 3px solid #54009e;
    transition: 500ms;
    cursor: pointer;
}
.nav-premier h1:hover{
    color: white;
}
.movie1{
    background-image: url(movie1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 90vh;
    margin: 20px 0;
    text-align: center;
    align-content: center;
}
.movie1 i{
    font-size: 75px;
    cursor: pointer;
}
.movie1 i:hover{
    font-size: 90px;
}
.nav-nav{
    background-color: #1b222c;
    color: #97bbe4;
    padding: 20px 20vh;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.box2{
    padding: 3px 3px 20px 3px;
    background-color: #202933;
    text-align: center;
    align-content: center;
}
.box2 img{
    width: 100%;
    height: 90%;
}
.box2 p{
    padding: 10px 0 0 0;
}
.boxes{
    display: flex;
    gap: 30px;
    padding: 20px 0;
}
.two{
    display: flex;
    gap: 30px;
}
.tarjima h1{
    font-size: 22px;
    padding-left: 25px;
    border-left: 3px solid #54009e;
    transition: 500ms;
    cursor: pointer;
}
.tarjima h1:hover{
    color: white;
}
.box2{
    transition: 400ms;
}
.box2 img{
    transition: 300ms;
}
.box2 img:hover{
    filter: grayscale(0.3);
}
.box2:hover{
    background-color: #3e5268;
    color: white;
}
.seriallar h1{
    font-size: 22px;
    padding-left: 25px;
    border-left: 3px solid #009e32;
    transition: 500ms;
    cursor: pointer;
}
.seriallar h1:hover{
    color: white;
}
.seriallar h1{
    font-size: 22px;
    padding-left: 25px;
    border-left: 3px solid #9e001a;
    transition: 500ms;
    cursor: pointer;
}
.seriallar h1:hover{
    color: white;
}
.nav-nav-right{
    padding: 5px 0;
}
.icons2{
    display: flex;
    color: white;
    text-align: center;
}
.icons2 i{
    align-content: center;
    width: 100%;
    height: 50px;
    font-size: 25px;
}
.fa-telegram{
    background-color: rgb(0, 60, 255);
    border-radius: 5px 0 0 5px;
}
.fa-youtube{
    background-color: red;
}
.fa-tiktok{
    background-color: black;
}
.fa-instagram{
    background-color: blueviolet;
    border-radius: 0 5px 5px 0;
}
.tasodifiy{
    background-color: #25303d;
    padding: 20px 0;
    border-radius: 5px;
    margin: 20px 0;
}
.tasodifiy h1{
    font-size: 17px;
    padding: 5px 0 5px 25px;
    border-left: 3px solid #001d9e;
    transition: 500ms;
    cursor: pointer;
}
.tasodifiy h1:hover{
    color: white;
}
.box-tasodifiy{
    background-color: #1b222c;
    padding: 3px;
    margin: 20px 40px;
    border-radius: 5px;
}
.box-tasodifiy p{
    padding: 10px;
}
.photo1{
    background-image: url(tasodifiy.jpg);
    background-position: center;
    background-size: cover;
    width: 30vh;
    height: 45vh;
    transition: 400ms;
}
.teg{
    background-color: #202933;
    padding: 20px 0;
    border-radius: 5px;
    margin: 20px 0;
}
.teg h1{
    font-size: 17px;
    padding: 5px 0 5px 25px;
    border-left: 3px solid #54009e;
    transition: 500ms;
    cursor: pointer;
}
.teg h1:hover{
    color: white;
}
.tags{
    flex-wrap: wrap;
    padding: 20px 30px;
    display: flex;
}
.tags p{
    margin: 3px;
    padding: 3px 5px;
    background-color: #25303d;
    border-radius: 3px;
    transition: 500ms;
}
.tags p:hover{
    background-color: #54009e;
}
.foot-top{
    display: flex;
    padding: 30px 20vh;
    justify-content: space-between;
    background-color: #202933;
    align-items: center;
    border-top: 1px solid #3e5268;
    color: #97bbe4;
}
.f1{
    display: flex;
}
.f1 p{
    margin: 3px;
    padding: 3px 5px;
    border-radius: 3px;
    transition: 500ms;
    border: 1px solid #3e5268;
}
.f1 p:hover{
    background-color: #3e5268;
}
.foot-bot{
    background-color: #1b222c;
    color: #97bbe4;
    text-align: center;
    padding: 20px 0;
}
}
.shade{
    transition: 500ms;
    cursor: pointer;
}
.shade:hover{
    background-color: #3e5268;

}



